In [21]:
# initialize tuples
test_tup1 = (3, 4),
test_tup2 = (5, 6),
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization
res = test_tup1 + test_tup2
 
# printing result
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [22]:
# initialize tuples
test_tup1 = (3, 4)
test_tup2 = (5, 6)
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Concatenating tuples to nested tuples
# Using ", " operator during concatenation
res = ((test_tup1, ) + (test_tup2, ))
 
# printing result
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : (3, 4)
The original tuple 2 : (5, 6)
Tuples after Concatenating : ((3, 4), (5, 6))

In [23]:
# initialize tuples
test_tup1 = (3, 4),
test_tup2 = (5, 6),
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Concatenating tuples to nested tuples
test_tup1 = list(test_tup1)
test_tup2 = list(test_tup2)
test_tup1.extend(test_tup2)
# printing result
print("Tuples after Concatenating : " + str(tuple(test_tup1)))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [24]:
# initialize tuples
test_tup1 = (3, 4)
test_tup2 = (5, 6)
 
# create an empty list
lst = []
 
# Concatenating tuples to nested tuples
# using extend() method of list class
lst.extend(test_tup1)
lst.extend(test_tup2)
res = tuple([lst[i:i+2] for i in range(0, len(lst), 2)])
 
# printing result
print("Tuples after Concatenating : ", res)

Tuples after Concatenating :  ([3, 4], [5, 6])